.header {
    background-color: $brand-base;
    color: $white;

    .trustbuilder {
        background-color: $brand-base-lighten;
        padding: $gutter;
        text-align: center;
        font-size: 25px;
    }

    .main-header {
        display: flex;
        text-align: center;
        padding: $gutter;
        align-items: center;
        justify-content: space-around;

        .search {
            flex: 1 0 20%;
            box-sizing: border-box;

            form {
                div {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    position: relative;

                    label {
                        visibility: hidden;
                        margin: -1px;
                        padding: 0;
                        width: 1px;
                        height: 1px;
                        clip: rect(0,0,0,0);
                        position: absolute;
                    }
        
                    .search-box {
                        height: 40px;
                        background-color: #8AA988;
                        border: 0;
                        color: $white;
                        width: 100%;
                        padding: $container-gutter;
                        font-size: 20px;
                    }
        
                    .actions {
                        position: absolute;
                        top: 10px;
                        right: 0;
                        width: auto;

                        button {
                            display: inline-block;
                            border: 0;
                            padding: 0;
                            content: ' ';
                            background-size: contain;
                            background-repeat: no-repeat;
                        }

                        .submit-button {
                            background-image: url(images/fyp-search.jpg);
                            width: 30px;
                            height: 34px;
                        }

                        .submit-close {
                            position: absolute;
                            background-image: url(images/fyp-close.jpg);
                            width: 25px;
                            height: 25px;
                            bottom: 10px;
                            left: 50px;
                        }
                    }
                }
            }
        }

        .logo {
            flex: 1 0 60%;

            .custom-logo-link {
                img {
                    max-width: 300px;
                    height: auto;
                }
            }
        }

        .minibasket {
            flex: 1 0 20%;

            &:before {
                content: '';
                background-image: url(images/fyp-barrow.jpg);
                display: block;
                width: 80px;
                height: 46px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }

    .navigation {
        background-color: $periglacial-blue;
        padding: $gutter;

        .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            max-width: 800px;
            margin: 0 auto;
            
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $body-font-color;

                &:hover {
                    color: $brand-base;
                }
            }
        }
    }
}